@import url('https://fonts.googleapis.com/css2?family=Domine&family=Inter&display=swap');

/* General Style */
body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background-image: url('https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #c8c7cc;
  border: solid 3px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

/* Main Area */
main {
  /* position: relative; */
  color: white;
  user-select: none;
  height: 100%;
}

main > * {
  flex: 1 1 auto;
  flex-basis: min-content;
  /* align-self: stretch; */
}

#time > * {
  margin: 0;
}

#clock {
  font-size: 10.3336921421vh;
  font-weight: 600;
}

#date {
  font-size: 3.44456404736vh;
  font-weight: 600;
}

#info > * {
  margin: 0;
}

#greet {
  font-size: 2.58342303552vh;
  font-weight: normal;
}

#current {
  margin-bottom: 0;
  font-size: 1.72228202368vh;
  font-weight: normal;
}

#weatherIcon {
  filter: invert(1);
  margin-bottom: -20px;
  padding: 0;
  height: 10.764262648vh;
  width: 10.764262648vh;
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  padding: 2px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 33.33%;
}
/* 
.date {
  border-radius: 10px;
  height: 9em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  padding: 10px;
  height: 100%;
} */

.box * + * {
  margin-top: 10px;
}

#quote {
  font-family: 'Domne', serif;
  width: 33.33%;
}

#quote > * {
  margin: 0;
}

#quote #content {
  font-size: 2.58342303552vh;
  text-align: center;
}

#quote #author {
  font-size: 1.72228202368vh;
  font-style: italic;
}

/* Footer Area */
footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

footer > * {
  padding: 2.58342303552vh;
}

.credit {
  padding: 1.72228202368vh;
}

.author {
  font-size: 1.50699677072vh;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.author:hover {
  color: rgba(255, 255, 255, 0.5);
}

#showSettings button {
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 0;
  line-height: 0;
  /* overflow: auto; */
}

#showSettings button img {
  margin: 0;
  padding: 0;
  height: 2.58342303552vh;
  width: 2.58342303552vh;
  transition: transform 0.6s;
}

#showSettings button:hover img {
  transform: rotate(15deg);
}

#showSettings.shown button img {
  transform: rotate(60deg);
}

#showSettings.shown button {
  backdrop-filter: blur(10px);
  background: rgba(160, 160, 160, 0.4);
}

/* Settings Sidebar */
#settings {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  right: -450px;
  height: 100vh;
  min-width: 333px;
  width: 408px;
  padding: 0 21px;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(100px); */
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  text-shadow: none;
  text-align: left;
  touch-action: pan-y;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: transform 0.4s;
}

#settings.shown {
  transform: translateX(-100%);
}

/* Utilities */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
}
